saves/
logs/
crash-reports/
local/
.curseclient
usercache.json
usernamecache.json
minecraftinstance.json
config.json
manifest.json
natives/
*.properties
.properties
fancymenu_data/last_world.fmdata
shaderpacks/
immersive_paintings/
immersive_paintings_cache/
debug/
fancymenu_data/
servers.dat_old
icon.png
imgui.ini
knownkeys.txt
config/xaerominimap_entities.json
XaeroWaypoints/
config/sound_physics_remastered/
config/byg/backups/
config/oculus.properties
XaeroWorldMap/
XaeroWaypoints/
packwiz.exe
README.md
index.toml
pack.toml